@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h1>Beyonce</h1>
<p>This is an information page about Beyonce.</p>
<p>All hail queen beyyyyyyy.</p>

<h2>Concert Info:</h2>
<b>The Concert starts at @DateTime.Now</b>

<h2>
    @Configuration["Message"]
</h2>